@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

.app {
  background: url('../assets/pokedexwallaper9.png') no-repeat center center
    fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.title {
  font-family: 'Rubik Mono One', sans-serif;
  position: relative;
  top: 200px;
  left: 350px;
}

.view-entries-btn {
  position: relative;
  top: 200px;
  left: 365px;
  color: black;
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
  background: #bdc3c7;
  border: 0;
  border-bottom: 2px solid #acb2b7;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #acb2b7;
  box-shadow: inset 0 -2px #acb2b7;
}

.poke-list {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid green;
  position: relative;
  top: 190px;
  left: 240px;
  overflow: scroll;
  width: 28%;
  height: 300px;
}
